 .showSlide {
     display: none
 }
 
 .showSlide img {
     width: 100%;
 }
 
 .slidercontainer {
     max-width: 100%;
     position: relative;
     margin: auto;
 }
 
 .left,
 .right {
     cursor: pointer;
     position: absolute;
     top: 50%;
     width: auto;
     padding: 16px;
     margin-top: -22px;
     color: white;
     font-weight: bold;
     font-size: 18px;
     transition: 0.6s ease;
     border-radius: 0 3px 3px 0;
 }
 
 .right {
     right: 0;
     border-radius: 3px 0 0 3px;
 }
 
 .left:hover,
 .right:hover {
     background-color: rgba(115, 115, 115, 0.8);
 }
 
 .active {
     background-color: #717171;
 }
 /* Fading animation */